# .coveragerc
[report]
show_missing = True
omit =
    */python?.?/*
    */sqlite/__init__.py*
    */sqlite/dbapi.py/*
    *flask/__init__.py*
    *asyncio/__init__.py*
    *asyncio/base_events.py *
    *asyncio/base_futures.py*
    *asyncio/base_subprocess.py*
    *asyncio/base_tasks.py *
    *asyncio/compat.py*
    *asyncio/constants.py*
    *asyncio/coroutines.py *
    *asyncio/events.py*
    *asyncio/futures.py*
    *asyncio/locks.py*
    *asyncio/log.py*
    *asyncio/protocols.py*
    *asyncio/queues.py*
    *asyncio/selector_events.py  *
    *asyncio/sslproto.py *
    *asyncio/streams.py*
    *asyncio/subprocess.py   *
    *asyncio/tasks.py*
    *asyncio/transports.py *
    *asyncio/unix_events.py *
    *concurrent/__init__.py*
    *concurrent/futures/__init__.py  *
    *concurrent/futures/_base.py *
    *concurrent/futures/process.py*
    *concurrent/futures/thread.py  *
    *ctypes/__init__.py*
    *ctypes/_endian.py *
    *ctypes/macholib/__init__.py *
    *ctypes/macholib/dyld.py*
    *ctypes/macholib/dylib.py *
    *ctypes/macholib/framework.py*
    *ctypes/util.py  *
    *decimal.py    *
    *encodings/hex_codec.py*
    *encodings/idna.py*
    *getpass.py  *
    *hmac.py *
    *html/__init__.py  *
    *html/entities.py    *
    *http/cookiejar.py*
    *mimetypes.py*
    *multiprocessing/connection.py *
    *multiprocessing/util.py*
    *numbers.py  *
    *alembic/__init__.py *
    *alembic/autogenerate/__init__.py*
    *alembic/autogenerate/api.py *
    *alembic/autogenerate/compare.py *
    *alembic/autogenerate/render.py*
    *alembic/autogenerate/rewriter.py*
    *alembic/command.py*
    *alembic/config.py*
    *alembic/context.py  *
    *alembic/ddl/__init__.py*
    *alembic/ddl/base.py *
    *alembic/ddl/impl.py*
    *alembic/ddl/mssql.py*
    *alembic/ddl/mysql.py    *
    *alembic/ddl/oracle.py *
    *alembic/ddl/postgresql.py *
    *alembic/ddl/sqlite.py *
    *alembic/op.py*
    *alembic/operations/__init__.py  *
    *alembic/operations/base.py    *
    *alembic/operations/batch.py *
    *alembic/operations/ops.py*
    *alembic/operations/schemaobj.py *
    *alembic/operations/toimpl.py  *
    *alembic/runtime/__init__.py *
    *alembic/runtime/environment.py*
    *alembic/runtime/environment.py*
    *alembic/runtime/migration.py*
    *alembic/runtime/migration.py*
    *alembic/script/__init__.py *
    *alembic/script/base.py *
    *alembic/script/revision.py  *
    *alembic/util/__init__.py*
    *alembic/util/compat.py  *
    *alembic/util/exc.py *
    *alembic/util/langhelpers.py *
    *alembic/util/messaging.py*
    *alembic/util/pyfiles.py*
    *alembic/util/sqla_compat.py *
    *click/__init__.py *
    *click/_compat.py*
    *click/_unicodefun.py*
    *click/core.py   *
    *click/decorators.py*
    *click/exceptions.py *
    *click/formatting.py*
    *click/globals.py*
    *click/parser.py *
    *click/termui.py*
    *click/types.py  *
    *click/utils.py*
    dateutil/__init__.py*
    dateutil/tz/__init__.py *
    dateutil/tz/_common.py  *
    dateutil/tz/tz.py *
    *flask/__init__.py *
    *flask/_compat.py  *
    *flask/app.py    *
    *flask/blueprints.py*
    *flask/cli.py    *
    *flask/config.py   *
    *flask/ctx.py*
    *flask/globals.py  *
    *flask/helpers.py*
    *flask/json.py*
    *flask/sessions.py*
    *flask/signals.py  *
    *flask/templating.py *
    *flask/wrappers.py *
    *flask_httpauth.py*
    *flask_login/__init__.py *
    *flask_login/_compat.py*
    *flask_login/config.py*
    *flask_login/login_manager.py*
    *flask_login/mixins.py *
    *flask_login/signals.py    *
    *flask_login/utils.py    *
    *flask_migrate/__init__.py *
    *flask_script/__init__.py*
    *flask_script/_compat.py*
    *flask_script/cli.py *
    *flask_script/commands.py    *
    *flask_*sqlalchemy/__init__.py*
    *flask_*sqlalchemy/_compat.py *
    *itsdangerous.py *
    *jinja/__init__.py*
    *jinja/_compat.py *
    *jinja/asyncfilters.py*
    *jinja/asyncsupport.py  *
    *jinja/bccache.py*
    *jinja/compiler.py *
    *jinja/defaults.py*
    *jinja/environment.py*
    *jinja/exceptions.py*
    *jinja/filters.py *
    *jinja/idtracking.py    *
    *jinja/lexer.py *
    *jinja/loaders.py *
    *jinja/nodes.py *
    *jinja/optimizer.py *
    *jinja/parser.py*
    *jinja/runtime.py *
    *jinja/utils.py *
    *jinja/visitor.py *
    *mako/__init__.py*
    *mako/_ast_util.py *
    *mako/ast.py*
    *mako/cache.py*
    *mako/codegen.py *
    *mako/compat.py*
    *mako/exceptions.py*
    *mako/ext/__init__.py*
    *mako/ext/pygmentplugin.py*
    *mako/filters.py   *
    *mako/lexer.py   *
    *mako/parsetree.py *
    *mako/pygen.py *
    *mako/pyparser.py*
    *mako/runtime.py *
    *mako/template.py*
    *mako/util.py    *
    *markupsafe/__init__.py  *
    *markupsafe/_compat.py*
    *psycopg/__init__.py*
    *psycopg/_json.py *
    *psycopg/_range.py*
    *psycopg/extensions.py*
    *psycopg/extras.py*
    *psycopg/tz.py*
    *pygments/__init__.py*
    *pygments/filter.py*
    *pygments/filters/__init__.py*
    *pygments/formatter.py *
    *pygments/formatters/__init__.py *
    *pygments/formatters/_mapping.py *
    *pygments/formatters/html.py *
    *pygments/lexer.py *
    *pygments/lexers/__init__.py *
    *pygments/lexers/_mapping.py*
    *pygments/lexers/actionscript.py *
    *pygments/lexers/agile.py  *
    *pygments/lexers/css.py*
    *pygments/lexers/d.py*
    *pygments/lexers/data.py *
    *pygments/lexers/factor.py   *
    *pygments/lexers/html.py*
    *pygments/lexers/iolang.py *
    *pygments/lexers/javascript.py*
    *pygments/lexers/jvm.py  *
    *pygments/lexers/lisp.py*
    *pygments/lexers/perl.py *
    *pygments/lexers/php.py*
    *pygments/lexers/python.py *
    *pygments/lexers/ruby.py *
    *pygments/lexers/scripting.py*
    *pygments/lexers/tcl.py*
    *pygments/lexers/web.py*
    *pygments/lexers/webmisc.py  *
    *pygments/modeline.py*
    *pygments/plugin.py*
    *pygments/regexopt.py*
    *pygments/style.py *
    *pygments/styles/__init__.py   *
    *pygments/styles/default.py *
    *pygments/token.py *
    *pygments/unistring.py *
    *pygments/util.py*
    *six.py*
    *sqlalchemy/__init__.py*
    *sqlalchemy/connectors/__init__.py *
    *sqlalchemy/connectors/zxJDBC.py *
    *sqlalchemy/dialects/__init__.py *
    *sqlalchemy/dialects/postgresql/__init__.py *
    *sqlalchemy/dialects/postgresql/array.py   *
    *sqlalchemy/dialects/postgresql/base.py  *
    *sqlalchemy/dialects/postgresql/dml.py*
    *sqlalchemy/dialects/postgresql/ext.py*
    *sqlalchemy/dialects/postgresql/hstore.py *
    *sqlalchemy/dialects/postgresql/json.py*
    *sqlalchemy/dialects/postgresql/pg.py *
    *sqlalchemy/dialects/postgresql/*psycopg.py*
    *sqlalchemy/dialects/postgresql/*psycopgcffi.py  *
    *sqlalchemy/dialects/postgresql/pygresql.py*
    *sqlalchemy/dialects/postgresql/pypostgresql.py *
    *sqlalchemy/dialects/postgresql/ranges.py  *
    *sqlalchemy/dialects/postgresql/zxjdbc.py  *
    *sqlalchemy/dialects/sqlite/__init__.py *
    *sqlalchemy/dialects/sqlite/base.py *
    *sqlalchemy/dialects/sqlite/pysqlcipher.py *
    *sqlalchemy/dialects/sqlite/pysqlite.py*
    *sqlalchemy/engine/__init__.py *
    *sqlalchemy/engine/base.py   *
    *sqlalchemy/engine/default.py*
    *sqlalchemy/engine/interfaces.py*
    *sqlalchemy/engine/reflection.py *
    *sqlalchemy/engine/result.py *
    *sqlalchemy/engine/strategies.py*
    *sqlalchemy/engine/threadlocal.py*
    *sqlalchemy/engine/url.py*
    *sqlalchemy/engine/util.py*
    *sqlalchemy/event/__init__.py*
    *sqlalchemy/event/api.py*
    *sqlalchemy/event/attr.py*
    *sqlalchemy/event/base.py*
    *sqlalchemy/event/legacy.py*
    *sqlalchemy/event/registry.py*
    *sqlalchemy/events.py*
    *sqlalchemy/exc.py*
    *sqlalchemy/ext/__init__.py *
    *sqlalchemy/ext/compiler.py*
    *sqlalchemy/ext/declarative/__init__.py *
    *sqlalchemy/ext/declarative/api.py   *
    *sqlalchemy/ext/declarative/base.py *
    *sqlalchemy/ext/declarative/clsregistry.py*
    *sqlalchemy/inspection.py *
    *sqlalchemy/interfaces.py *
    *sqlalchemy/log.py *
    *sqlalchemy/orm/__init__.py*
    *sqlalchemy/orm/attributes.py*
    *sqlalchemy/orm/base.py  *
    *sqlalchemy/orm/collections.py *
    *sqlalchemy/orm/dependency.py*
    *sqlalchemy/orm/deprecated_interfaces.py   *
    *sqlalchemy/orm/descriptor_props.py *
    *sqlalchemy/orm/dynamic.py *
    *sqlalchemy/orm/evaluator.py   *
    *sqlalchemy/orm/events.py*
    *sqlalchemy/orm/exc.py *
    *sqlalchemy/orm/identity.py  *
    *sqlalchemy/orm/instrumentation.py*
    *sqlalchemy/orm/interfaces.py*
    *sqlalchemy/orm/loading.py   *
    *sqlalchemy/orm/mapper.py*
    *sqlalchemy/orm/path_registry.py*
    *sqlalchemy/orm/persistence.py *
    *sqlalchemy/orm/properties.py  *
    *sqlalchemy/orm/query.py *
    *sqlalchemy/orm/relationships.py *
    *sqlalchemy/orm/scoping.py*
    *sqlalchemy/orm/session.py   *
    *sqlalchemy/orm/state.py*
    *sqlalchemy/orm/strategies.py*
    *sqlalchemy/orm/strategy_options.py *
    *sqlalchemy/orm/sync.py*
    *sqlalchemy/orm/unitofwork.py*
    *sqlalchemy/orm/util.py *
    *sqlalchemy/pool.py*
    *sqlalchemy/processors.py *
    *sqlalchemy/schema.py  *
    *sqlalchemy/sql/__init__.py*
    *sqlalchemy/sql/annotation.py  *
    *sqlalchemy/sql/base.py *
    *sqlalchemy/sql/compiler.py*
    *sqlalchemy/sql/crud.py *
    *sqlalchemy/sql/ddl.py*
    *sqlalchemy/sql/default_comparator.py*
    *sqlalchemy/sql/dml.py   *
    *sqlalchemy/sql/elements.py*
    *sqlalchemy/sql/expression.py  *
    *sqlalchemy/sql/functions.py *
    *sqlalchemy/sql/naming.py *
    *sqlalchemy/sql/operators.py *
    *sqlalchemy/sql/schema.py*
    *sqlalchemy/sql/selectable.py*
    *sqlalchemy/sql/sqltypes.py  *
    *sqlalchemy/sql/type_api.py  *
    *sqlalchemy/sql/util.py *
    *sqlalchemy/sql/visitors.py*
    *sqlalchemy/types.py *
    *sqlalchemy/util/__init__.py*
    *sqlalchemy/util/_collections.py *
    *sqlalchemy/util/compat.py *
    *sqlalchemy/util/deprecations.py *
    *sqlalchemy/util/langhelpers.py*
    *sqlalchemy/util/queue.py *
    *sqlalchemy/util/topological.py*
    *werkzeug/__init__.py*
    *werkzeug/_compat.py*
    *werkzeug/_internal.py*
    *werkzeug/datastructures.py*
    *werkzeug/exceptions.py*
    *werkzeug/filesystem.py*
    *werkzeug/formparser.py *
    *werkzeug/http.py*
    *werkzeug/local.py *
    *werkzeug/routing.py *
    *werkzeug/security.py*
    *werkzeug/urls.py*
    *werkzeug/utils.py *
    *werkzeug/wrappers.py*
    *werkzeug/wsgi.py*
    *sqlite/__init__.py *
    *sqlite/dbapi.py *
    *stringprep.py *
    *uuid.py